.proiftle-conainer{
    background-color: whitesmoke;
    padding: 3px;
}
.proiftle-conainer #profile-name{
    background-color:#8ec8ff ;
    padding: 10px;
    text-align: center;
}


table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #5b407d;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #170033;
  border-style: solid;
  padding: 10px;
}

table.GeneratedTable thead {
  background-color: #8ec8ff;
}
table tbody tr td {
    font-weight: bold;
}


.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#004169;
	border-radius:3px;
	border:1px solid #c6c5ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    margin-top: 10px;
    margin-bottom: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
